li{
    color: #f8f8f8;
    
}
.navLinks{
    /* position: relative;
    top: 6em; */
    font-family: 'Montserrat', sans-serif;
    margin-left: .6em;
    line-height: 26px;
    margin-top: .5rem;
    /* margin-bottom: -10px; */
    animation: navAnimation 2s 1 linear;
}
.navLinks h4 {
    margin: 0;
    font-variant: all-small-caps;
    font-size: 1.2em;
}
@keyframes navAnimation {
    from{
        display: none;
    }
    to{
        display: initial;
    }
}