.projects{
    width: 100vw;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: .8em;
    align-items: center;
    justify-items: baseline;
    
}
.page4 h3 {
    color: #f8f8f8;
    padding: 1px 16px;
    font-feature-settings: "smcp", "c2sc";
    font-variant: all-small-caps;
    font-size: 25px;
}
.card{
    /* max-width: 28vw;
    max-height: 18vh; */
    background-color: rgb(37, 34, 34);
}
img{
    max-width: 350px;
    max-height: 350px;
}
#aqi{
    grid-row: 1;
    grid-column: 1;
}
#loan{
    grid-row: 1;
    grid-column: 2;
}
#weight{
    grid-row: 1;
    grid-column: 3;
}
#task{
    grid-row: 2;
    grid-column: 1;
}
#blueBadge{
    grid-row: 2;
    grid-column: 2;
}
#git{
    grid-row: 2;
    grid-column: 3;
    color: #f8f8f8f8;
    font-size: 80px;
    justify-self: center;
}
a {
    margin: 0;
    text-decoration: none;
    padding-left: 2px;
    /* display: inline; */
}
a img{
    border-radius: 8px;
}
a p {
    font-kerning: auto;
    font-family: 'Montserrat', sans-serif;
}
figcaption{
    grid-row: 2;
    grid-column: 3;
    color: #f8f8f8;
    align-self: end;
    margin-bottom: 1em;
    font-size: 1em;
}
a:hover{
    transform: scale(1.1);
    transition-duration: 0600ms;
    border-radius: 4px;
}
#emailName{
    display: inline;
}
@media screen and (height: 812px) and (width: 375px){
    body{
        overflow-y: scroll;
    }
    .projects{
        justify-items: baseline;
    }
    .linkedPage .page4{
        background-color: #111111;
    }
    a{
        margin: 1em;
    }
    figcaption{
        margin-bottom: 10px;
        font-size: 11px;
        transform: scale(0.7);
        justify-self: baseline;
    }
    .git{
        font-size: 50px;
    }
    #gitItem{
        height: 160px;
    }
    .footer{
        grid-row-start: 7;
    }
   
}
